Random local address on relay connections over TCP allocations

For client-initiated connection requests over a TCP allocation the outbound connections made by the server MUST be locally bound to the relay transport address for the allocation. In particular, [RFC 6062 Section 5.2](https://datatracker.ietf.org/doc/html/rfc6062#section-5.2) contains the following text:

> Otherwise, the server MUST initiate an outgoing TCP connection. The **local endpoint is the relayed transport address associated with the allocation**.

See #511 for a test for this. That test is currently failing: checking the remote address at the peer we get a random address instead of the relay address (also checked with WireShark). This will break ICE. Note that `clientConn.LocalAddr()` correctly returns the relay address.

The reason is that the [allocation manager `CreateTCPConnection` binds the new connection to a random local address](https://github.com/pion/turn/blob/9e70c937d8dc67b1baec450f2cb3322092f57873/internal/allocation/allocation_manager.go#L288) instead if the relay address.

The fix can be to create the connection over a `net.Dialer` with `SO_REUSEADDR` (allows rebinding after close/TIME_WAIT) and `SO_REUSEPORT` (allows concurrent active binds) enabled. AFAIK both are needed. The problem is that `SO_REUSEPORT` is Unix-only (not sure about current Windows).

Happy to contribute a fix but before that I wanted to hear people's opinion on the OS-support issue.

*Update:* seems [Windows needs only `SO_REUSEADDR`](https://learn.microsoft.com/en-us/windows/win32/winsock/using-so-reuseaddr-and-so-exclusiveaddruse)