Consider replacing MD5

The GenerateAuthKey function [here](https://github.com/pion/turn/blob/83e705812565d5f7e7ffb19aa5eee85d4f117960/server_config.go#L97) uses MD5, which [is](https://en.wikipedia.org/wiki/MD5#Security) [insecure](https://security.stackexchange.com/a/19908).

Consider using a modern hashing algorithm like SHA256 if possible.

We cannot do that, the hashing function is specified in Section 15.4 of RFC 5389.  However, the use of MD5 is not a security issue here, for at least two reasons:
  - in RFC 5389 usage, the password is computed using HMAC-SHA1, and the MD5 hash only serves to provide a fixed-length key from variable-length data, not for security purposes;
  - MD5 is vulnerable to collision attacks, not to reverse image attacks, so this particular usage is fine.

OK thank you anyway